*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.clearfix:after{
  content: '';
  display: table;
  clear: both;
}

body{
  position: relative;
}

header{
  height: 550px;
  background-color: #0c325a;
}

.header-container{
  width: 100%;
  height: 100%;
  padding: 0 10%; /* SPOSTO SOLO IL CONTENUTO MA OCCUPA TUTTO LO SPAZIO*/
  min-width: 1400px;
  background-image: url("../img/background-header.png");
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 115% 100%;
}

.header-nav{
  height: 80px;
  line-height: 80px;
  overflow: hidden;
}

.float-left{
  float: left;
}

.header-logo{
  width: 15%;
}

.header-logo img{
  margin-top: 15px;
  height: 100%;
}

.header-nav-center{
 width: 45%; 
 height: 100%;
}

.header-nav-right{
  width: 40%;
  text-align: right;
  height: 100%;
}

header a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 80%;
  padding: 0 10px;
}


/* BUTTONS */

.btn{
  display: inline-block; /* per dimensionare */
  color: white;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px 10px;
  text-decoration: none;
}

.btn.btn-blu{
  padding-left: 30px;  
  padding-right: 30px;  
  border:1px solid white;
}

.btn.btn-green{
  color: white;
  background-color: #7cbb04;
}

.btn.btn-large{
  padding: 20px;
}

.jumbotron{
  position: relative;
  height: 470px;
}

.jumbo-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.jumbo-text h1{
  color: white;
  font-size: 350%;
  margin-bottom: 30px;
}

.half{
  width: 50%;
}


/* main */

.title_main{
  text-align: center;
  padding: 30px;
  background-color: #d3d3d3;
  margin-bottom: 50px;
}

.title_main h1{
  margin-bottom: 10px;
}
.title_main h2{
  color: #818181;
}



.menu3_main{
  width: 90%;
  margin: 0 auto;
  height: 600px;
  margin-bottom: 30px;
}

.menu3_main .box{
  width: 32%;
  float: left;
}

.riquadro{
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.menu3_main .box img{
  height: 200px;
  width: 100%;
  
}

.menu3_main .box h1{
  color: #7cbb04;
  padding: 2%;
  margin-bottom: 30px;
  text-align: center;
}

.menu3_main .box hr{
  margin-left:30%;
  margin-right: 30%;
  margin-bottom: 30px;
}

.menu3_main .box p{
  padding:2% ;
  text-align: center;
  font-size: 25px;
  color:#818181 ;
}


.center{
  margin: 0 2%;
}

.menu2_main{
  width: 90%;
  /* background-color: black; */
  margin: 0 auto;
}
.menu2_main .box{
  width: 49%;
  /* height: 300px; */
  float: left;
  /* background-color: red; */
}

.menu2_main .box:last-child {
  padding: 2%;
}
.left{
  margin-right: 2%;
}

.left img{
  width: 100%;
  height: 800px;
}

.menu2_main .box h1{
  color: #7cbb04;
  margin-bottom: 30px;
}

.menu2_main .box p{
  /* padding:2% ; */
  font-size: 25px;
  color:#818181 ;
  margin-bottom: 30px;
}


/* footer */

footer{
  height: 100px;
  width: 100%;
  background-color: #d3d3d3;
  margin-bottom: 70px;
}

.contenuto_footer{
  width: 90%;
  line-height: 100px;
  margin: auto;
  position: relative;
}

footer h2{
  display: inline;
}

.footer_nav{
  line-height: 100px;
  position: absolute;
  display: inline-block;
  right: 0;
  color: #848484;
  z-index: 50;
}

option{
  color: #848484;
}

select{
  color: #848484;
  margin:0 20px;
  width: 200px;
}

.help{
  position: fixed;
  right: 5%;
  bottom: 0;
}



/* SECONDA PARTE */

.container .m{
  width: 80%;
  /* height: 200px; */
  margin: auto;
  /* background-color: green; */
}

.m .b{
  width: 45%;
  /* height: 300px; */
  float: left;
  /* background-color: red; */
}

.m .left{
  margin-right: 10%;
}

.m .b img{
  width: 100%;
  height: 300px;
  transform: translatey(-20%);
}

.m .b p{
  margin-bottom: 30px;
}

.r a{
  width: 100%;
  display: inline-block;
}

.r .b:nth-child(2){
  color: #848484;
  text-align: center;
  line-height: 35px ;
  padding: 5px;
  color: #bac6d2;
}

.set{
  width: 50%;
  height: 600px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.set div:nth-child(1){
  width: 100%;
  margin-bottom: 30px;
}

.t{
  width: 100%;
  height: 60px;
}

.t span{
  color: green;
}

.t h3,.t h5{
  margin-bottom: 5px;
  line-height: 40px;
  color: grey;
}

.t>a{
  color: #b1cad5;
}

section:first-of-type{
  background-color: #0c3259;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
/* classe da cancellare */
.container .ma{
  width: 30%;
  /* height: 200px; */
  margin-left: 10%;
  /* background-color: green; */
  /* padding: 50px 0; */
  font-size: 20px;
}

.container .ma h1{
  color:white;
  margin-bottom: 30px;
}

.container .ma p{
  color: #849db4;
  margin-bottom: 30px;
}

.container>h1{
  text-align: center;
  margin-bottom: 50px;
}

.m3{
  width: 80%;
  margin: auto;
}
.m3 .b{
  width: 32%;
  height: 200px;
  text-align: center;
  float: left;
}

.m3 .b img{
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.m3 .b>h5{
  display: inline-block;
}